/*

	Css Author: 	Ariful Ahsan
		   In Elance : https://www.elance.com/s/spondon_ahsan/
		   In Odesk : https://www.odesk.com/o/profiles/users/_~01f5d13a4660a9e535/
		   
	Website: 				
	
	This file contains any additional responsive 
	styles may need to add to allow the website 
	to flow more smoothly across more device.

*/


/* ==============================================================================
/* ====== From 320 to 479 px (poor mobile)
/* ============================================================================= */
@media (min-width: 300px) and (max-width: 479px){
	
}


/* ==============================================================================
/* =====SPECIAL BEAUTIFYING FOR MAX 600 PX
/* ============================================================================= */
@media (max-width: 600px){

}

/* ==============================================================================
/* ====== PRIMARY MOBILE ELEMENTS & STYLES
/* ============================================================================= */
@media (max-width: 767px){
	#navigation_toggle{
	  height:50px;
	  line-height:48px;
	  text-align:center;
	  display:block;
	  cursor:pointer;
	}
  #navigation_toggle i{
	  font-size:3em;
	  color:#fff;
	  vertical-align:middle;
  }
  #navigation_toggle:hover i,
  #navigation_toggle.active i{
  	color:#EFFF9F
  }
  .navigation{
	  position:relative;
	  width:100%;
	  top:0px;
	  display:none;
	  left:0;
	  height:auto;
  }
  .navigation ul li{
	display:block;
	width:100%;
  }
  .navigation a span {
	  background:#0F2126;
  }
 .navigation a:hover span,
  .navigation a:focus span {
		background:#030E11;
	}
	
	#footer_logo{display:none;}
	.small-text-center{text-align:center;}
	#footer p{
		float:none !important;
		margin-top:30px;
	}
}
/* ==============================================================================
/* ====== TABLET + SMALL DESKTOP
/* ============================================================================= */
@media (min-width: 768px) {
	#navigation_toggle{display:none;}
	
	.navigation a span::before {
	position: absolute;
	top: 0%;
	left: 0;
	width: 100%;
	height: 100%;
	background: #0F2126;
	color: #fff;
	content: attr(data-hover);
	-webkit-transform: rotateX(10deg);
	-moz-transform: rotateX(10deg);
	transform: rotateX(10deg);
	-webkit-transition: -webkit-transform 0.6s;
	-moz-transition: -moz-transform 0.6s;
	transition: transform 0.6s;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
	pointer-events: none;
}
.navigation li:nth-of-type(1) a span::before{
	background: #0F2126;
}
.navigation li:nth-of-type(2) a span::before{
	background: #12292F;
}
.navigation li:nth-of-type(3) a span::before{
	background: #18363E;
}
.navigation li:nth-of-type(4) a span::before{
	background: #0F2126;
}
		
	.navigation a:hover span::before,
	.navigation a:focus span::before {
		-webkit-transform: rotateX(270deg);	
		-moz-transform: rotateX(270deg);
		transform: rotateX(270deg);
	}
}
@media (min-width: 768px) and (max-width: 991px){
	
}
@media (max-width: 991px){
	.responsive_icon{
		font-size:30px;
		width:50px;
		height:50px;
		text-align:center;
		line-height:45px;
	}
	a.social{
		width:60px;
		border:none;
	}
	a.social i{
		font-size:3em;
	}
	a.social:hover{
		border-radius:5px;
		border:none;
	}
	
	.responsive_icon_set_2{
		font-size:40px;	
	}
	#responsive_chrome_icon,
	#responsive_firefox_icon,
	#responsive_safari_icon,
	#responsive_ie_icon,
	#responsive_opera_icon,
	#responsive_safari_icon{
		width:40px !important;
		height:40px !important;
	}
	#my_skill ul li i{
		font-size:50px;
	}
	
	.form_submit_button{top:60px;}
@media (min-width: 768px) and (max-width: 991px){
	
}
/* ==============================================================================
/* ====== SMALL DESKTOP + MEDIUM DESKTOP
/* ============================================================================= */
@media (min-width: 992px) {
	
}
@media (min-width: 992px) and (max-width: 1199px){
	
}
@media (max-width: 1199px){

}
@media (min-width: 768px) and (max-width: 1199px){
}
/* ==============================================================================
/* ====== COMMON STANDARD DESKTOP
/* ============================================================================= */
@media (min-width: 1200px) {
	
}

/* ==============================================================================
/* ====== LARGE DESKTOP
/* ============================================================================= */
@media (min-width: 1600px) {
	
}

/* ==============================================================================
/* ====== EXTRA LARGE RETINA
/* ============================================================================= */
@media (min-width: 1900px) {
	
}


/* ==============================================================================
/* ====== (ORIENTATION PORTRAIT ONLY) TOUCH ENABLED ELEMENTS & STYLES
/* ============================================================================ */

@media only screen and (orientation: portrait) {}


/* ==============================================================================
/* ====== (HIGH RES ONLY 1.5x PIX RATIO) HIGH RESOLUTION ELEMENTS & STYLES
/* ============================================================================ */

@media  (min--moz-device-pixel-ratio: 1.5),(-o-min-device-pixel-ratio: 32),
(-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi),(min-resolution: 1.5dppx) {}


/* ==============================================================================
/* ====== (RETINA ONLY 2x PIX RATIO) RETINA RESOLUTION ELEMENTS & STYLES
/* ============================================================================ */

@media only screen and (-webkit-min-device-pixel-ratio: 2),only screen and (min-device-pixel-ratio: 2) {}


/*control looking in special breaking poing and device width*/
@media (max-width: 1230px) and (min-width: 768px){


}